/.gradle
/eureka/build
/common/.settings
/common/.classpath
/common/.project
.classpath
.project
.settings
build
/patient/logs/*.log
/patient/data/patient.mv.db
/patient/data/patient.trace.db
/physician/logs/clifford.log
/physician/logs/common.2016-09-06.0.log
/physician/logs/common.log
/schedule/logs/common.log
/schedule/data/*.db
/schedule/logs/*.log
/physician/data/*.db
